# Made by patitotective#0127
# https://github.com/Patitotective

# pip install -r requirements.txt
# or
# pip3 install -r requirements.txt


# This program requires these libraries:
# Tkinter or tkinter
# webbrowser
# os
# subprocess
openpyxl
pandas
datetime
PREFS
bs4
tqdm

# And this dependencies to run:
# Extras
# Kanjis
# kanjiEs
# kanjiEn
# kanjiGraphics
